@CHARSET "US-ASCII";
/* System Name, CSS Version_Creater_Date */
/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textare a,button,select
	{
	margin: 0;
	padding: 0
}

body,input,textarea,select,button,table {
	font-family: '�뗭�', Dotum, AppleGothic, sans- serif;
	font-size: 1em
}

img,fieldset {
	border: 0
}

ul,ol {
	list-style: none
}

em,address {
	font-style: normal
}

a {
	text-decoration: none
}

a:hover,a:active,a:focus {
	text-decoration: underline
}

/* user custom */
form {
	clear: both;
}

div#wrap {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}

.imgDiv {
	width: 750px;
}

.post {
	border: 1px solid gray;
	padding: 10px;
}

.title {
	padding: 5px;
	margin: 5px;
}

.content {
	padding: 5px;
	margin: 5px;
}

#formArea textarea {
	width: 750px;
	margin: 20px 0px;
}

#formArea input[type=submit],input[type=reset] {
	margin-top: 20px;
	padding: 5px;
}

.commentNum {
	float: left;
}

.commentVisible {
	float: right;
}

.comments {
	clear: both;
	display: none;
}

#blackCover {
	background-color: rgba(0,0,0, 0.8);
	z-index: 100;
	top:0;
	margin: 0 auto;
}

#newImageLayer {
	margin: 50px auto;
}

.commentDelete {
	float: right;
	clear: both;	
}